.topBar{

    background-color: red;
    color: azure;
    font-size: 1.2rem;
}

.bar{
    display: flex;
    justify-content: flex-end;
    column-gap: 30%;
}

.bar a{
    text-decoration: none;
    color: azure;

}

.close{
    justify-content: right;
    align-self: center;
    margin: 1%;
}