.card{
    text-align: left;
    padding: 10px;
    font-family: sans-serif;

}

img{
    max-width: 300px;
    min-width: 200px;
    opacity: 1;
    transition: opacity 1s ease-in;

}

div.color{
    width: 100px;
    display: flex;
    flex-direction: row;

}

.card a{
    text-decoration: none;
    color: black;
}